*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 100vh;
    flex-direction: column;

}
.main{
    display: flex;
    flex-grow: 1;
    background-color: black;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}
[class^="photo"]{
    width: 150px;
    height: 150px;
    background-image: url(../img/girasole.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 30px;
    margin-right: 5px;
      
}
.text{
    position: absolute;
    font-size: 20px;
    color: ghostwhite;
    background-color: rgba(0, 0, 0, 0.7);
    top:120px;
    
}
nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color:#404040;
}
ul{
    display: flex;
}
nav li{
    list-style: none;
    color: ghostwhite;
    padding: 20px;
    
}
.first{
    text-align: center;
    font-size: 15px;
}
.second{
    text-align: center;
    font-size: 15px;
}
.third{
    font-style: oblique;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
}
.third li{
    color: red;
}
#arrow{
    margin-top: 30px;
    color: ghostwhite;
}
#share{
    color: springgreen;
}